@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

*, code {
    font-family: Inter, sans-serif !important;
}

body {
    background: #111827;
    color: #FFFFFF;
}